@use '../utilities/mixins';
@use '../utilities/variables';
@use '../utilities/extend';

footer {
  border-top: 2px solid variables.$primary-color;
  @extend %flex-center-column;
  @include mixins.padding(10px, 20px);
  .instagram a{
    color: variables.$primary-color;
    text-decoration: none;
    &:hover{
      color: variables.$tertiary-color;
    }
  }
  
}

@media (min-width: 1024px) {
  footer {
      flex-direction: row;
      justify-content: space-between;
    }
}