@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Roboto", sans-serif*/

/* Variables */

* {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: "Roboto", sans-serif;
    color: #47301F;
    background: #F1DABF;
}

/* Header */
header {
    background: #F1DABF;
    color: #362417;
    padding: 30px 20px;
    border-bottom: 2px solid #362417;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    gap: 16px;
}

footer{
    border-top: 2px solid #362417;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.biografia {
    background: #362417;
    color: #F1DABF;
}

/* estilos Navbar */

.navbar {
    text-decoration: none;
    color: #362417;
    background-color: #F1DABF;
}

.nav-link:hover {
    color: #362417;
}

/* Imagenes */

figure img {
    width: 100%;
    height: auto;
}

/* Tipografía */
h1 {
    font-size: 3rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.55;

}

footer {
    font-size: 0.5rem;
    padding: 1rem;
}

/* Grid */
@media (min-width: 768px){
    .biografia {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    nav {
        padding: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}
}

@media (min-width: 1024px){
    .biografia {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    footer {
        flex-direction: row;
        justify-content: space-between;
    }
    .inicio-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "que-hago trabaja-conmigo"
            "imagen-web imagen-web";
    }
}

.que-hago{
    grid-area: que-hago;
}
.trabaja-conmigo{
    grid-area: trabaja-conmigo;
}
.imagen-web{
    grid-area: imagen-web;
}